{% extends 'base.html' %}

{% block content %}


<!-- MAIN WRAPPER -->
<div class="cp-wrapper margin-top-no-padding-wrapper">

    <!-- SECTION UPDATES -->
    <section class="page-content-wrapper">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <article class="page-content-inner">

                    	<h1>Tentang ScriptsXagon</h1>
                        <p>ScriptXagon adalah media edukasi dan informasi tentang pemrograman dan teknologi. ScriptsXagon dibangun untuk memfasilitasi para developer dalam mendapatkan informasi dan pengetahuan seputar pemrograman dan teknologi. Konten-konten yang ada di ScriptsXagon disusun sedemikian rupa dan dalam bahasa Indonesia agar mudah dipahami oleh para developer Indonesia.</p>
<p><img src="/static/img/logo.png" class="logo-img" alt="Logo ScriptsXagon" /></p>

                    </article>
                </div>
            </div>

        </div>
    </section>

</div>
<!-- END: MAIN WRAPPER -->

{% endblock %}