{% extends 'base.html' %}

{% block content %}


<!-- MAIN WRAPPER -->
<div class="cp-wrapper margin-top-no-padding-wrapper">

    <!-- SECTION UPDATES -->
    <section class="page-content-wrapper">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <article class="page-content-inner">

                    	<h1>Tentang CodePolitan</h1>

                        <p>CodePolitan adalah media edukasi dan informasi tentang pemrograman dan teknologi. CodePolitan dibangun untuk memfasilitasi para developer dalam mendapatkan informasi dan pengetahuan seputar pemrograman dan teknologi. Konten-konten yang ada di CodePolitan disusun sedemikian rupa dan dalam bahasa Indonesia agar mudah dipahami oleh para developer Indonesia.</p>
<p><img class="aligncenter size-full wp-image-9641" src="https://static.cdn-cdpl.com/wp-images/2015/03/logo-codepolitan-small.png" alt="Logo CodePolitan" width="400" height="113" /></p>

                    </article>
                </div>
            </div>

        </div>
    </section>

</div>
<!-- END: MAIN WRAPPER -->

{% endblock %}