{% extends 'base.html' %}

{% block content %}


<!-- MAIN WRAPPER -->
<div class="cp-wrapper margin-top-no-padding-wrapper">

    <!-- SECTION UPDATES -->
    <section class="page-content-wrapper">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <article class="page-content-inner">

                    	<h1>Tentang ScriptsXagon</h1>
                            <p>ScriptsXagon merupakan komunitas yang bergerak dalam ilmu IT khususnya dalam bidang perangkat lunak dan penyedia sarana bagi orang-orang yang gemar dalam pemrograman web untuk menyalurkan dan mengembangkan bakatnya dalam pemrograman web.</p>

                            <p>ScriptXagon menyediakan berbagai macam pembelajaran. Mulai dari  dasar tentang pemrograman web, desain hingga tahap yang complek.</p>

                        <hr>

                        <p align="center"><img src="/static/img/logo.png" class="logo-img" alt="Logo ScriptsXagon" /></p>

                    </article>
                </div>
            </div>

        </div>
    </section>

</div>
<!-- END: MAIN WRAPPER -->

{% endblock %}