{% extends 'base.html' %}

{% block content %}

<!-- MAIN WRAPPER -->
<div class="cp-wrapper margin-top-no-padding-wrapper">

    <!-- SECTION UPDATES -->
    <section class="page-content-wrapper">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <article class="page-content-inner">

                    	<h1>Contact Us</h1>

                        <p>Silahkan hubungi kami :</p>
                            <div style="margin-bottom:5px;"><strong>Email:</strong></div>
                            <div style="font-size:24px;"><strong>INFORMASI:</strong> ScriptXagon@gmail.com</div>
                            <div style="font-size:24px;"><strong>PARTNERSHIP:</strong> ScriptXagon@gmail.com</div>
                            <div style="font-size:24px; margin-bottom:40px;"><strong>BUG REPORT:</strong> ScriptXagon@gmail.com</div>
                        <p>
                            <div style="margin-bottom:5px;"><strong>Phone:</strong></div>
                            <div style="font-size:24px;  margin-bottom:40px;">+62 000-0000-0000</div>



                        </p>
                        <div style="margin-bottom:5px;"><strong>Address:</strong></div>
                        <div style="font-size:24px;  margin-bottom:40px;">Dusun Binawarga No 17 RT/RW 08/03 Kalijati Timur Kalijati Subang Jawa Barat</div>
                        <div style="margin-bottom:5px;"><strong>Social Media:</strong></div>
                        <div class="follow-icon2" style="font-size:50px;">
                            <a href="#" class="follow-facebook record-data" data-action="follow-facebook" data-position="home-social-media" target="_blank"><span class="fa fa-facebook-official"></span></a>
                            <a href="#" class="follow-twitter record-data" data-action="follow-twitter" data-position="home-social-media" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a href="#" class="follow-youtube record-data" data-action="follow-youtube" data-position="home-social-media" target="_blank"><span class="fa fa-youtube-play"></span></a>
                            <a href="#" class="follow-linkedin record-data" data-action="follow-linkedin" data-position="home-social-media" target="_blank"><span class="fa fa-linkedin-square"></span></a>
                            <a href="#" class="follow-instagram record-data" data-action="follow-instagram" data-position="home-social-media" target="_blank"><span class="fa fa-instagram"></span></a>
                        </div>

                    </article>
                </div>
            </div>

        </div>
    </section>

</div>
<!-- END: MAIN WRAPPER -->
{% endblock %}