{% extends 'base.html'%}

{% block content %}


<!-- MAIN WRAPPER -->
<div class="cp-wrapper margin-top-no-padding-wrapper">

    <!-- SECTION JUMBOTRON -->
    <section class="cp-jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Mari Mulai !</h1>
                    <p>Mari bergabung untuk mengetahui seberapa hebat kamu dalam coding dan pemrograman komputer. Belajar dari dasar hingga profesional.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END: SECTION JUMBOTRON -->

    <!-- SECTION UPDATES -->
    <section class="content-wrapper content-white">
        <div class="container">

            <div class="row">
                <!-- CONTENT -->
                <!-- SIDEBAR -->
                <div class="col-md-4">

                    <div class="hidden-xs">
                        <div class="guide-sidebar" data-spy="affix" data-offset-top="450">
                            <ul class="guide-list">
                                <li><a class="guide-click" href="#apa_itu_scriptsxagon">Apa itu ScriptsXagon?</a></li>
                                <li><a class="guide-click" href="#apa_saja_yang_ada_di_scriptsxagon">Apa saja yang ada di ScriptsXagon?</a></li>
                                <!-- <li><a class="guide-click" href="#bagaimana_cara_berkontribusi_di_scriptsxagon">Bagaimana cara berkontribusi di ScriptsXagon?</a></li>
                                <li><a class="guide-click" href="#bagaimana_cara_mendapatkan_val">Bagaimana cara mendapatkan VAL?</a></li>
                                <li><a class="guide-click" href="#apa_yang_bisa_dilakukan_dengan_val">Apa yang bisa dilakukan dengan VAL?</a></li> -->
                                <li><a class="guide-click" href="#bagaimana_cara_belajar_di_scriptsxagon">Bagaimana cara belajar di ScriptsXagon?</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- END: SIDEBAR -->

                <div class="col-md-8">

                    <article class="main-content no-shadow">
                        <div class="guide-content">

                            <!-- Tujuan ScriptsXagon -->
                            <h2 id="apa_itu_scriptsxagon" class="padding-lg-top">Apa itu ScriptsXagon?</h2>

                            <p>ScriptsXagon merupakan komunitas yang bergerak dalam ilmu IT khususnya dalam bidang perangkat lunak dan penyedia sarana bagi orang-orang yang gemar dalam pemrograman web untuk menyalurkan dan mengembangkan bakatnya dalam pemrograman web.</p>

                            <p>ScriptXagon menyediakan berbagai macam pembelajaran. Mulai dari  dasar tentang pemrograman web, desain hingga tahap yang complek.</p>

                            <div class="divider-margin">&nbsp;</div>

                            <!-- Close Tujuan ScriptsXagon -->

                            <!-- Apa yang ada di ScriptsXagon -->
                            <h2 id="apa_saja_yang_ada_di_scriptsxagon">Apa saja yang ada di ScriptsXagon?</h2>

                            <p>Sebagai media edukasi dan informasi, berikut beberapa konten yang di sediakan oleh ScriptsXagon :</p>

                            <h3>ONLINE</h3>

                            <table class="table">
                                <thead style="background:#ffdb99;">
                                    <tr>
                                        <th><center>Deskripsi</center></th>
                                        <th width="20%"><center>Konten</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Konten-konten dalam format artikel berupa informasi, berita, tutorial teknikal, tips & trik dan opini seputar pemrograman dan teknologi. Selain para CodePolitan Rangers (official author), para user di CodePolitan pun bisa berkontribusi memberikan pengetahuan yang dimilikinya. <a href="https://www.codepolitan.com/articles" target="_blank">Selengkapnya</a>.
                                        </td>
                                        <td>Articles</td>
                                    </tr>
                                    <tr style="background:#ffedcc">
                                        <td>
                                            Konten pembelajaran tentang bahasa pemrograman tertentu yang disusun secara sistematis disertai contoh-contoh kode yang bisa langsung dipraktekan. Sangat cocok bagi yang ingin menguasai bahasa pemrograman tertentu. <a href="https://www.codepolitan.com/interactive-coding" target="_blank">Selengkapnya</a>.
                                        </td>
                                        <td>Interactive Coding</td>
                                    </tr>
    <!-- <tr>
            <td>Academy</td>
            <td>
                Konten pembelajaran seputar mobile dan game development yang disusun secara sistematis sesuai dengan standar indutsri. Merupakan kerjasama dengan Dicoding Indonesia. <a href="https://www.dicoding.com/academies?utm_source=codepolitan&utm_medium=show_all&utm_campaign=learning_page" target="_blank">Selengkapnya</a>.
            </td>
        </tr> -->
                                    <tr>
                                        <td>
                                            Konten pembelajaran tentang pemrograman dan teknologi yang membahas tentang tema-tema tertentu dengan format buku elektronik (e-book) yang bisa didownload oleh user. <a href="https://www.codepolitan.com/ebook" target="_blank">Selengkapnya</a>.
                                        </td>
                                        <td>E-Book</td>
                                    </tr>
                                    <tr style="background:#ffedcc">
                                        <td>
                                            Konten pembelajaran tentang pemrograman dan teknologi yang membahas tentang tema-tema tertentu dengan format video. Video Blog ini bisa ditonton melalui kanal Youtube CodePolitan. <a href="https://www.youtube.com/channel/UCf9YmYfSG0d_vxxZDMJfElA" target="_blank">Selengkapnya</a>.
                                        </td>
                                        <td>Video Blog</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kumpulan jadwal kegiatan yang berhubungan dengan pemrograman dan teknologi. Selain CodePolitan Rangers, para user yang memiliki kegiatan bisa melakukan publikasi acaranya melalui kanal ini asalkan memenuhi persyaratan sebagai media partner CodePolitan. <a href="https://www.codepolitan.com/event" target="_blank">Selengkapnya</a>.
                                        </td>
                                        <td>Event</td>
                                    </tr>
                                </tbody>
                            </table>

                        <!--
                            <h3>OFFLINE</h3>

                            <p>Untuk mewadahi user yang ingin belajar pemrograman secara tatap muka langsung dengan intensif, CodePolitan juga memiliki berbagai program kegiatan belajar yang dilakukan secara offline. Diantaranya antara lain kursus offline, bootcamp, workshop dan seminar. <a href="https://www.codepolitan.com/course" target="_blank">Selengkapnya</a>.</p>

                            <div class="divider-margin">&nbsp;</div>


                            <!-- Close apa yang ada di ScriptsXagon -->


                    <!-- NOT FUNCTIONS

                            <h2 id="bagaimana_cara_berkontribusi_di_codepolitan">Bagaimana cara berkontribusi di CodePolitan?</h2>

                            <p>Untuk bisa melakukan kontribusi di CodePolitan, user harus register dan login terlebih dahulu kemudian membuka halaman user dashboard untuk memulai kontribusi. Dan untuk setiap aksi kontribusi yang dilakukan, user akan mendapatkan tambahan VAL untuk meningkatkan level akunnya. Tambahan VAL yang diberikan akan bebeda-beda untuk setiap aksinya.</p>

                            <div class="divider-margin">&nbsp;</div>



                            <h2 id="bagaimana_cara_mendapatkan_val">Bagaimana cara mendapatkan VAL?</h2>

                            <p>Untuk mendapatkan VAL di CodePolitan adalah dengan cara berkontribusi dan melakukan beberapa aksi yang telah ditentukan oleh CodePolitan. Beberapa aksi tersebut adalah sebagai berikut:</p>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="30%">Nama Aksi</th>
                                        <th>Deskripsi</th>
                                        <th width="15%">VAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Menyempurnakan profile</td>
                                        <td>
                                            Melengkapi semua informasi dasar profile akun pada halaman <a href="https://www.codepolitan.com/dashboard/profile/edit" target="_blank">Account Setting</a>. Hanya berlaku sekali.
                                        </td>
                                        <td>200 VAL</td>
                                    </tr>
                                    <tr>
                                        <td>Publikasi artikel atau Event</td>
                                        <td>
                                            User akan mendapatkan tambahan VAL untuk setiap artikel atau event baru yang ditulis. Satu artikel atau event hanya akan mendapatkan tambahan VAL sekali. Tambahan VAL akan diberikan setelah artikel atau event disetujui dan dipublikasi.
                                        </td>
                                        <td>100 VAL</td>
                                    </tr>
                                    <tr>
                                        <td>Mendapatkan Thanks</td>
                                        <td>
                                            Setiap kali artikel yang ditulis oleh user mendapatkan Thanks dari user lainnya, maka user yang menulis artikel tersebut akan mendapatkan tambahan VAL. Seorang user hanya bisa melakukan Thanks sekali saja untuk sebuah artikel.
                                        </td>
                                        <td>1 VAL</td>
                                    </tr>
                                    <tr>
                                        <td>Menyelesaikan Interactive Coding</td>
                                        <td>
                                            Setiap kali user menyelesaikan sebuah interactive coding, user akan mendapatkan penambahan nilai VAL. Nilai dari penambahan VAL setiap interactive coding berbeda antara satu dengan yang lainnya yang tercantum pada halaman detail dari masing-masing interactive coding.
                                        </td>
                                        <td>1000 - 5000 VAL</td>
                                    </tr>
                                    <tr>
                                        <td>Aksi Khusus</td>
                                        <td>
                                            Ada aksi-aksi khusus yang diadakan pada waktu-waktu tertentu yang bila user melakukannya akan mendapatkan tambahan VAL tertentu. Nilai VAL dan aksinya beragam sesuai dengan pemberitahuan yang diberikan oleh CodePolitan.
                                        </td>
                                        <td>100 - 5000 VAL</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="divider-margin">&nbsp;</div>



                            <h2 id="apa_yang_bisa_dilakukan_dengan_val">Apa yang bisa dilakukan dengan VAL?</h2>

                            <p>Semakin tinggi nilai VAL yang dimiliki oleh user maka akan semakin tinggi tingkat otoritas user tersebut dalam CodePolitan. User yang memiliki otoritas lebih tinggi akan mendapatkan manfaat lebih banyak dari CodePolitan.</p>

                            <p>Manfaat-manfaat yang bisa didapatkan antara lain:</p>

                            <ul>
                                <li>Bisa mendownload ebook premium tertentu</li>
                                <li>Bisa mengikuti interactive coding tertentu</li>
                                <li>Bisa mendapatkan hadiah tertentu yang diberikan pada waktu tertentu oleh CodePolitan</li>
                                <li>Bisa mengikuti giveaway yang diadakan oleh CodePolitan dan atau partner CodePolitan</li>
                                <li>Bisa mengikuti event-event tertentu yang diadakan oleh CodePolitan dan atau partner CodePolitan</li>
                            </ul>

                            <div class="divider-margin">&nbsp;</div>

                    CLOSE NOT FUNCTIONS-->

                            <h2 id="bagaimana_cara_belajar_di_scriptsxagon">Bagaimana cara belajar di ScriptsXagon?</h2>

                            <p>Sesuaikan konten belajar yang ada di ScriptsXagon dengan level kemampuanmu dalam coding.</p>

                            <h3>Newbie</h3>

                            <p>Bagi kalian yang belum mengerti secara detail tentang pemrograman dan masih bingung harus mulai belajar dari mana, kamu bisa mulai belajar dari <a href="#" target="_blank">Start Learning</a>.</p>


                            <h3>Standar</h3>

                            <p>Bagi kalian yang masih pemula dan belum menguasai bahasa pemrograman tertentu, kamu bisa mulai mempelajari salah satu bahasa pemrograman melalui kanal <a href="#" target="_blank">Interactive Coding</a> dan <a href="#" target="_blank">Academy</a> dan <a href="https://www.codepolitan.com/course" target="_blank">Intensive Learning</a>.</p>


                            <h3>Mastah</h3>

                            <p>Bagi kalian yang sudah mulai mengerti tentang pemrograman dan sudah mulai menguasai salah satu bahasa pemrograman, kamu bisa meningkatkan skill kamu melalui kanal <a href="#" target="_blank">E-book</a>, <a href="#" target="_blank">Event</a> dan <a href="#" target="_blank">Intensive Learning</a>.</p>

                        </div>
                    </article>

                </div>
                <!-- END: CONTENT -->



            </div>

        </div>
    </section>
    <!-- END: SECTION UPDATES -->

</div>
<!-- END: MAIN WRAPPER -->

{% endblock %}