{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
    <!-- MAIN WRAPPER -->
    <div class="cp-wrapper margin-top-wrapper">

        <!-- SECTION UPDATES -->
        <section class="content-wrapper">
            <div class="container">

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">

                        <!-- AUTH WRAPPER -->
                        <div class="auth-wrapper">
                            <h3>Daftar Akun</h3>

                            <form method="POST" action="" class="form-horizontal">
                                {% csrf_token %}

                                <fieldset>
                                {% for field in form %}
                                    <div class="form-field">
                                        {{ field.label_tag }} <br>
                                       {% render_field field class="form-control"%}
                                    </div>
                                {% endfor %}
                                    <div class="form-button">
                                        <input type="submit" value="Daftar" class="btn btn-cp btn-lg btn-block" />
                                    </div>
                                    <br><br><br>
                                    <div class="text-center">
                                        <div>Lupa password?&nbsp;<a href="#">Klik disini untuk reset</a></div>
                                        <div>Punya Akun?&nbsp;<a href="/login/">Klik disini untuk login</a></div>
                                    </div>
                                </fieldset>
                            </form>


                        </div>
                        <!-- END: AUTH WRAPPER -->

                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}
