<!DOCTYPE html>
<html lang="en" class="no-js">
{% load static %}
<head>

	<meta charset="UTF-8" />
	<title>ScriptsXagon</title>

	<!-- FAVICON -->
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/img/icon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/icon.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">


	<meta property="og:image" content="https://www.codepolitan.com/assets/img/codepolitan_image.jpg" />
	<meta property="og:image:width" content="700" />
	<meta property="og:image:height" content="350" />

	<!-- Dependency -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,300,500,700,100|Lora:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css">

	<!-- CSS DevSubang -->
	<link href="/static/css/DevSubang.main.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/DevSubang.min.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/DevSubang.box.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/DevSubang.font.min.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/DevSubang.tutspaging.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/DevSubang.mainstyle.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/DevSubang.mainstyle.custom.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/DevSubang.login.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/DevSubang.monokai.css" rel="stylesheet" type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Close DevS CSS -->


    <!-- OneSignal -->
	<link rel="manifest" href="/manifest.json">
  	<script src="/static/js/DevSubang.onesignal.js" async></script>
	<!-- Close OneSignal -->


    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=496143660723921&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>

<!-- NAVBAR -->

<nav class="navbar navbar-default navbar-fixed-top navbar-cp">
	<!--
	<div id="head-alert" style="padding:5px;background:#e88b8b;color:#FFF;font-size:5px:" class="text-center">
		<b>Pemberitahuan</b>, Jam 2 siang kami akan menonaktifkan Codepolitan. Bagi teman-teman yang sedang menulis silahkan save draft terlebih dahulu. &nbsp;&nbsp;<a href="#" id="btn-close-head-alert" class="btn-xs btn-danger">Close</a>
	</div> -->
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" title="ScriptsXagon"><img src="/static/img/logo.png" class="logo-img"></a>
		</div>
{% if user.is_authenticated %}
{% else %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-btn"><a href="/login/">LOGIN</a></li>
				<li class="nav-btn nav-signup"><a href="/signup/">SIGN UP</a></li>
			</ul>
{% endif %}
			<ul class="nav navbar-nav navbar">
				<li ><a href="/navcourse/">PEMBELAJARAN</a></li>
		        <li ><a href="#">EVENT</a></li>
		    </ul>
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown dropdown-cp ">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<div class="avatar-box">
								<img src="http://4.bp.blogspot.com/-Kw3QXIVNDPA/UiQ9mX4Gp1I/AAAAAAAAACw/9LIX952cWz0/s1600/14.jpg" class="img-ava">
							</div>
						</a>

						<div class="dropdown-menu dropdown-box-wrapper">
							<div class="media">
								<div class="media-left">
									<div class="dropdown-ava">
										<img src="http://4.bp.blogspot.com/-Kw3QXIVNDPA/UiQ9mX4Gp1I/AAAAAAAAACw/9LIX952cWz0/s1600/14.jpg" class="img-ava-md">

									</div>
								</div>
								<div class="media-body">
									<div class="dropdown-name">{{ user.username }}</div>
									</br></br>

								</div>
							</div>
							<div class="dropdown-bottom">
								<div class="row">
									<div class="col-xs-6">

									</div>
									<div class="col-xs-6">
										<div class="dropdown-bottom-right">
											<a href="/logout/" class="btn btn-cp2 btn-sm"><span class="fa fa-power-off margin-xs-right"></span>KELUAR</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>{% else %}
			{% endif %}
		</div>
	</div>
</nav>


<!-- END: NAVBAR -->
{% block content %}
{% endblock %}


<!-- FOOTER -->
	<footer class="cp-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="footer-copyright">
						Copyright &copy; 2018 <a href="#">ScriptsXagon</a>. All rights reserved.
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer-menu">
						<ul>
							<li><a href="/about/">About</a></li>
							<li><a href="/terms/"">Term & Condition</a></li>
							<li><a href="/">Contact Us</a></li>
							<li><a href="/store/">Store</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- END: FOOTER -->

	<!-- Bridge -->
	<input type="hidden" id="base_url">

    <!-- Dependency -->
	<script src="/static/vendor/jquery/DevSubang.jquery-3.1.0.min.js"></script>
	<script src="/static/vendor/jquery/DevSubang.jquery-migrate-1.4.1.min.js"></script>
	<script src="/static/vendor/bootstrap/js/DevSubang.bootstrap.min.js"></script>

	<script src="/static/js/cdn/DevSubang.jquery.fancybox.min.js"></script>
	<script src="/static/js/cdn/DevSubang.sweetalert.min.js"></script>
	<script src="/static/js/cdn/DevSubang.tutspaging.js"></script>
	<script src="/static/js/cdn/DevSubang.count.js"></script>
	<script src="/static/js/DevSubang.mainscript.js"></script>
	<script src="/static/js/DevSubang.cp_counter.js"></script>
	<script src="/static/js/DevSubang.all.js"></script>
    <script src="/static/js/cdn/DevSubang.highlight.min.js"></script>


<!-- Mini Popup -->
<div class="cp-mini-popup">
    <div class="popup-body">
    	<div><img src="https://static.cdn-cdpl.com/source/b8e29e8f0b15aab3473fed5df06c9186/mini-popup-premium-member.jpg" class="full-width"></div>
        <h4 style="font-weight:bold;">Hanya Untuk yang Serius</h4>

        <p>Pengen belajar coding secara maksimal? Gabung aja dalam CodePolitan Premium Member</p>

        <div><a href="#" class="btn btn-cp record-data"target="_blank">Baca Selengkapnya</a></div>
    </div>
    <a href="#" class="btn-close-mini-popup"><span class="fa fa-times"></span></a>
</div>
<!-- END: Mini Popup -->



</body>
</html>