{% extends 'base.html' %}
{% block content %}
<header class="masthead">
  <section class="portfolio mb-3" id="portfolio">
       <div class="container text-center">
    <h2 class="mb-4 text-white">CARI INFORMASI DISINI.</h2>
    </div>
      <div class="container">
                <div class="row">

                {% for isiforum in isiforum %}
                <div class="card mr-2" style="width: 17.2rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ isiforum.name | truncatewords:"3"}}</b></h5>
                        <p class="card-text"> {{ isiforum.summary | safe | truncatewords:"10"|linebreaks }}</p>
                    </div>
                    <a href="/isiforum/{{ isiforum.id }}/0/" class="btn" style="width: 35%; align-item: center;">Mulai</a>
                </div>
                {% endfor %}
                </div>
      </div>

      {% if isiforum.has_other_pages %}
        <nav aria-label="Page navigation example" style="padding-top:22px;">
          <ul class="pagination justify-content-center">
            {% if isiforum.has_previous %}
              <li class="page-item"><a href="?page={{ isiforum.previous_page_number }}" class="page-link">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in isiforum.paginator.page_range %}
              {% if isiforum.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if isiforum.has_next %}
              <li class="page-item"><a href="?page={{ isiforum.next_page_number }}" class="page-link">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
  </section>
</header>
{% endblock %}