{% extends 'base.html' %}
{% block content %}
<header class="masthead">
</br></br>
  <section class="portfolio" id="portfolio">
      <div class="row text-white">
      <div class="container text-center">
        <h2 class="mb-4">APA YANG AKAN ANDA LAKUKAN ?</h2>
        <a class="btn btn-light btn-xl sr-button" style="color: red;" href="/pembelajaran/">PEMBELAJARAN</a><br><br>
        <h2 class="mb-4">ATAU</h2>
        <a class="btn btn-light btn-xl sr-button" style="color: red;" href="#">CEK FORUM</a>
      </div>
  </div>
    </section>
</header>
{% endblock %}