{% extends 'base.html' %}
{% block content %}
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Wilujeng sumping sadayana</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Mulai dari sekarang di DevSubang yang dapat membantu anda melalui media pembelajaran! ayo kembangkan ilmu dalam bidang IT anda!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"> Selengkapnya </a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Apa itu Dev Subang ?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">DevSubang adalah suatu komunitas dari Kota Subang yang bergerak dalam bidang IT yang mewadahi teman-teman yang ingin mengembangkan pengetahuan terutama dalam bidang Software</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Ikuti!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Apa saja yang ada di Dev Subang ?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Pembelajaran</h3>
              <p class="text-muted mb-0">Memberi pembelajaran untuk dapat mengembangkan kemampuannya dalam mempelajari,mengetahui, dan memahami di Ilmu IT</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-group text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Komunitas</h3>
              <p class="text-muted mb-0">Menyediakan wadah untuk menampung orang-orang yang minat di dalam ilmu IT</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Informasi</h3>
              <p class="text-muted mb-0">Informasi yg di sampaikan menyangkut tentang dunia IT. mulai dari Software,Hardware,dan lainnya.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-2 text-center">
          </div>
        </div>
      </div>
    </section>

  <section id="portfolio">
    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">INGIN BERGABUNG DAN DAFTAR ?</h2>
        <a class="btn btn-light btn-xl sr-button" href="signup">DAFTAR SEKARANG!</a><br><br>
        <h2 class="mb-4">SUDAH BERGABUNG ?</h2>
        <a class="btn btn-light btn-xl sr-button" href="login">MASUK SEKARANG!</a>
      </div>
    </section>
  </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Hubungi Kami</h2>
            <hr class="my-4">
            <p class="mb-5">Ingin memberikan pertanyaan, saran, kritik dan lain lain silahkan hubungi kontak dari DevSubang.  Kami akan selalu merespon teman-teman sekalian.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>+62 878-1271-0964</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:devsubang@gmail.com">devsubang@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
