{% extends 'base.html' %}
{% block content %}

    <header class="masthead">
      <section class="portfolio" id="portfolio">
      <div class="position-absolute">
        <a class="list-group-item list-group-item-action {% if active_lesson == 0 %} active {% endif %}" href="/course/{{course.id}}/0/">Apa yang akan kamu pelajari</a>
        {% for lesson in lessons %}
        <a class="list-group-item list-group-item-action {% if active_lesson == lesson.id %} active {% endif %}" href="/course/{{course.id}}/{{lesson.id}}/">{{ lesson.name }}</a>
        {% endfor %}
      </div>

    <div class="row" style="margin-left: 25%; margin-top: 0; margin-right: 0; text-align: justify;">
        <p>
            {{ content|safe }}
        </p>
    </div>
      </section>
    </header>
{% endblock %}
