{% extends 'base.html' %}

{% block content %}

	<!-- MAIN WRAPPER -->
	<div class="cp-wrapper margin-top-no-padding-wrapper">

		<!-- SECTION JUMBOTRON -->
		<section class="cp-jumbotron jumbotron-article">
			<div class="container">
				<h2>Label</h2>
				<h1>Pembelajaran</h1>
			</div>
		</section>
		<!-- END: SECTION JUMBOTRON -->


		<!-- SECTION UPDATES -->
		<section class="updates-wrapper">
			<div class="container">

				<div class="row">
					<div class="col-md-9">

						<!-- CONTENT LOOP -->
						<div class="content-loop">
							<div class="row">
					{% for course in courses|slice:":12" %}
							<div class="col-md-4">
								<div class="post-item">
									<div class="post-thumb">
										<a href="/course/{{ course.code_name }}/">
											<img src="/{{ course.img }}/" class="thumb-img" >
										</a>
									</div>
									<div class="post-body">
										<div class="post-category"><a href="/course/{{ course.code_name }}/">{{ course.code_name }}</a></div>
										<h3 class="post-title"><a href="/course/{{ course.code_name }}/">{{ course.name }}</a></h3>
										<div class="post-author "><a href="/course/{{ course.code_name }}/">{{ course.author }}</a></div>
									</div>
								</div>
							</div>
					{% endfor %}

                            </div>
						</div>
						<!-- END: CONTENT LOOP --

			<!--
			Ruby on Rails
			Google
			Microsoft
			Objective-C
			Wordpress
			Linux
			Database
			-->
		</ul>
	</div>
</div>
<!-- SIDEBAR -->						<!-- END: SIDEBAR TECHNOLOGY -->

					</div>
				</div>

			</div>
		</section>
		<!-- END: SECTION UPDATES -->

	</div>
	<!-- END: MAIN WRAPPER -->

{% endblock %}